.work {
    min-height: 619px;
    padding: 51px 0 57px 0;
    &__hr {
        width: 148px;
        height: 1px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 17px;
        background-color: #ec644b;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }
    &__item {
        max-width: 360px;
        text-align: center;
    }
    &__title {
        margin-top: 28px;
        color: #ec644b;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
    }
    &__descr {
        margin-top: 11px;
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
}